<head>
	<title>Pattern Dog - Find Head and Shoulders in cryptocurrency charts </title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">

	<style>
		a {
			text-decoration: none;
		}

		body,
		html {
			background-color: white;
		}
	</style>

	<script async defer src="https://your-analytics.org/ya.js" data-domain="pattern.dog"></script>
</head>

<body>
	<div id="render-target"></div>

	<!--Start of Tawk.to Script-->
	<script type="text/javascript">
		var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
		(function () {
			var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
			s1.async = true;
			s1.src = 'https://embed.tawk.to/602483d09c4f165d47c21d40/1eu7a5pns';
			s1.charset = 'UTF-8';
			s1.setAttribute('crossorigin', '*');
			s0.parentNode.insertBefore(s1, s0);
		})();
	</script>
	<!--End of Tawk.to Script-->
</body>